/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


 h1 {
   font-family: 'Indie Flower', cursive;
 }
body {
  font-family: 'Gaegu', cursive;
  background-color: #FFFCDD;
}
.header {
  a {
    color: #DCF7F3
  }
}

.menu {
  list-style-type: none;
  text-align: center;
}

.searchBar {
  margin: 5px;
  width: auto;
}

.header-text {
  text-align: center;
}
.crop {
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 5px;
  margin: auto;
  img {
    height: 350px;
    width: 350px;
    border-radius: 20px;
  }
  
}

.expandable {
  padding: 5px;
  margin-right: 5px;
  flex: 1 1 1;
}

.expandable.expanded {
  flex: 1 1 90%;
}

.cards-container {
  flex: 1 1 90%;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.table-cards {
  display: grid;
  grid-template-columns: 33% 33% 31%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-rows: auto;
  @media screen and (max-width: 60em) {
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
  }
}

.table-card {
  background-color: #DCF7F3;
  border-radius: 20px;
  color: #F38A8A;
  display: flex;
  flex-direction: column;
  grid-column-start: auto;
  grid-column-end: span 1;
  margin: 10px;
  padding: 20px;
  text-align: center;
  .content {
    flex: 1 1 0;
  }
  a {
    color: #F38A8A;
  }
  .review {
    border: 2px solid;
    padding: 10px;
    margin: 10px;
  }
  .table-card div {
    padding: 0px 10px;
    flex: 0 1 auto;
  }
}

.pagination {
  clear: both;
  position: relative;
  text-align: center;
  padding-left: 46%;
  li {
    background-color: #DCF7F3;
    border: 2px solid #F38A8A;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
}

.navbar-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-fluid {
  background-color: #F38A8A;
  border-radius: 20px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.black6000 {
  color: #55024A;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.green6000 {
  color: #B7023F;

}

.upvote {
  border: none;
  background-color: #DCF7F3;

}

.downvote {
  border: none;
  background-color: #DCF7F3;
}